<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
        >
<h:head>
    <f:facet name="first">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta http-equiv="Content-Type" content="text/xhtml; charset=UTF-8"/>
        <meta http-equiv="Cache-Control" content="no-cache"/>
        <meta http-equiv="Pragma" content="no-cache"/>
        <title><ui:insert name="title"></ui:insert></title>
    </f:facet>
    <link rel="stylesheet" href="css/stylelogin.css" type="text/css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png"/>
</h:head>
<h:body styleClass="back">
    <h:form id="frmLogin" enctype="multipart/form-data">
        <p:growl/>
        <p:panelGrid columns="2">
            <p:outputLabel value="nome"/>
            <p:inputText value="#{embalagenBean.embalagenSelect.nome}"/>
            <p:outputLabel value="tipo"/>
            <p:inputText value="#{embalagenBean.embalagenSelect.tipo}"/>
            <p:outputLabel value="comprimento"/>
            <p:inputText value="#{embalagenBean.embalagenSelect.comprimento}"/>
            <p:outputLabel value="largura"/>
            <p:inputText value="#{embalagenBean.embalagenSelect.largura}"/>
            <p:outputLabel value="altura"/>
            <p:inputText value="#{embalagenBean.embalagenSelect.altura}"/>
            <p:outputLabel value="peso"/>
            <p:inputText value="#{embalagenBean.embalagenSelect.peso}"/>
            <p:outputLabel value="imagen"/>
            <p:inputText value="#{embalagenBean.embalagenSelect.imagen}"/>
            <p:commandButton value="SALVAR"
                    actionListener="#{embalagenBean.guardar}"></p:commandButton>
            <p:commandButton value="LIMPAR"
                             actionListener="#{embalagenBean.guardar}"></p:commandButton>
        </p:panelGrid>

    </h:form>
</h:body>
</html>